<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.ngii.edu.main.courses.team.mapper.TeamMapper">

	<resultMap type="kr.go.ngii.edu.main.courses.team.model.Team" id="teamMap">
		<id property="idx" column="idx" />
		<result property="workId" column="work_id" />
		<result property="authkey" column="authkey" />
	</resultMap>

	<select id="get" parameterType="teamMap" resultMap="teamMap">
		SELECT
			idx,
			work_id,
			authkey
		FROM teams
		where idx = #{idx}
	</select>

	<select id="list" parameterType="teamMap" resultMap="teamMap">
		SELECT
			idx,
			work_id,
			authkey
		FROM teams
		where idx = #{idx}
	</select>

	<insert id="create" parameterType="teamMap">
		<selectKey keyProperty="idx" resultType="int" order="BEFORE">
			select nextval('teams_idx_seq'::regclass)
		</selectKey>
			INSERT INTO teams(
				idx, work_id, authkey
			) VALUES (
				#{idx}, #{workId}, #{authkey}
			)
	</insert>

	<update id="modify" parameterType="teamMap">
		UPDATE teams
			<set>
				<if test="workId != null"> work_id = #{workId}, </if>
				<if test="authkey != null"> authkey = #{authkey} </if>
			</set>
		WHERE idx = #{idx}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM teams
 		WHERE idx = #{idx}
	</delete>

</mapper>
