<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.ngii.edu.sample.mapper.UserMapper">

	<select id="getUsers" resultType="kr.go.ngii.edu.sample.model.User">
		SELECT
			seq_idx AS seqIdx,
			userid,
			passwd,
			email
		FROM commgeneralmember 
	</select>

</mapper>
