<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.ngii.edu.main.courses.work.mapper.WorkOutputMapper">

	<resultMap type="kr.go.ngii.edu.main.courses.work.model.WorkOutput" id="workOutputMap">
		<id property="idx" column="idx" />
		<result property="courseWorkSubId" column="course_work_sub_id" />
		<result property="outputTeamId" column="output_team_id" />
		<result property="outputUserid" column="output_userid" />
		<result property="outputDivision" column="output_division" />
		<result property="pinogioOutputId" column="pinogio_output_id" />
		<result property="outputType" column="output_type" />
	</resultMap>
	
	<insert id="create" parameterType="map">
		<selectKey keyProperty="idx" resultType="int" order="BEFORE">
			SELECT nextval('works_output_idx_seq'::regclass)
		</selectKey>
		INSERT INTO works_output (
			course_work_sub_id, 
			output_team_id, 
			output_userid, 
			output_division,
			pinogio_output_id
		) VALUES (
			#{courseWorkSubId},
			#{outputTeamId},
			#{outputUserid},
			#{outputDivision},
			#{pinogioOutputId}
		)
	</insert>
	
	<select id="list" parameterType="map" resultMap="workOutputMap">
		SELECT 
			idx, 
			course_work_sub_id, 
			output_team_id, 
			output_userid, 
			output_division,
			pinogio_output_id
  		FROM works_output
		WHERE course_work_sub_id = #{courseWorkSubId}
		ORDER BY idx
	</select>

	<select id="get" parameterType="map" resultMap="workOutputMap">
		SELECT
			idx, 
			course_work_sub_id, 
			output_team_id, 
			output_userid, 
			output_division,
			pinogio_output_id
		FROM works_output
		WHERE idx = #{idx}
		ORDER BY idx
	</select>
	
	<update id="modify" parameterType="map">
		UPDATE works_output
			pinogio_output_id = #{pinogioOutputId}
		WHERE
			idx = #{idx} 
	</update>
	
	<delete id="delete" parameterType="map">
		DELETE FROM works_output
		<where>
			course_work_sub_id = #{courseWorkSubId}
			idx = #{idx}
		</where>
	</delete>
	
	<select id="getItemByCourseWorkId" parameterType="map" resultMap="workOutputMap">
		SELECT 
			idx, 
			course_work_sub_id, 
			output_division, 
			pinogio_output_id,
			output_team_id, 
			output_userid, 
			output_type
		FROM 
			works_output
		WHERE
			course_work_sub_id in (
				SELECT 
					idx 
				FROM 
					courses_work_sub
				WHERE 
					course_work_id in (
						SELECT 
							idx 
						FROM 
							courses_work
						WHERE course_id = (
							SELECT 
								course_id 
							FROM 
								courses_work
							WHERE idx = #{courseWorkId}
							limit 1
						)
					)
			) and output_type = 'dataset'
		ORDER BY idx 
	</select>
</mapper>
