<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.go.ngii.edu.main.modules.module.mapper.ModuleMapper">

	<resultMap type="kr.go.ngii.edu.main.modules.module.model.Module" id="moduleMap">
		<id property="idx" column="idx" />
		<result property="moduleName" column="module_name" />
		<result property="moduleMetadata" column="module_metadata" />
		<result property="createDate" column="create_date" />
		<result property="modifyDate" column="modify_date" />
	</resultMap>

	<select id="list" resultMap="moduleMap">
		SELECT
			idx,
			module_name,
			create_date,
			modify_date,
			module_metadata
		FROM modules
	</select>

	<select id="listByOffsetAndLimit" parameterType="map" resultMap="moduleMap">
		SELECT
			idx,
			module_name,
			create_date,
			modify_date,
			module_metadata
		FROM modules
		OFFSET ${offset} LIMIT ${limit}
	</select>

	<select id="get" parameterType="map" resultMap="moduleMap">
		SELECT
			idx,
			module_name,
			create_date,
			modify_date,
			module_metadata
		FROM modules
		WHERE idx = #{idx}
	</select>

	<insert id="create" parameterType="map">
		<selectKey keyProperty="idx" resultType="int" order="BEFORE">
			SELECT nextval('modules_idx_seq'::regclass)
		</selectKey>
		INSERT INTO modules(
			idx, 
			module_name, 
			module_metadata, 
			create_date, 
			modify_date 
		) VALUES (
			#{idx}, 
			#{moduleName}, 
			#{moduleMetadata}, 
			#{createDate}, 
			#{modifyDate}
		)
	</insert>

	<update id="modify" parameterType="map">
		UPDATE modules 
		SET
			module_name = #{moduleName}, 
			module_metadata = #{moduleMetadata}, 
			modify_date = #{modifyDate} 
		WHERE idx = #{idx}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM modules
		WHERE idx = #{idx}
	</delete>

</mapper>
